.main {
    display: flex;
    margin: 0;
    background-color: blue;
}

.contact-box {
    display: flex;
    padding: 2rem;
    gap: 300px;
    justify-content: center;
    align-items: center;
}



.contact-text  {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 10px;
    font-weight: 700;
}


@media screen and (max-width: 940px) {
    .contact-box {
        display: flex;
        flex-direction: column;
        gap: 10px;

    }

    .contact-text {
        display: flex;
        padding: 2rem;

    }
}